<%- include('partials/header') %>
<div class="main-header">
  <span class="main-header-title">
    User Management
  </span>
</div>
<div class="white-subheader">
  <div class="text-subheader">
    Welcome <%= req.session.user.attributes.field_lf_first_name  %>!
  </div>
</div>
<div class="hr-divider-keyline"></div>


<div class="col-sm-9 content">
  <br><br>
  <strong class="text-muted">First Name:</strong> <%= req.session.user.attributes.field_lf_first_name  %> <br><br>
  <strong class="text-muted">Last Name:</strong> <%= req.session.user.attributes.field_lf_last_name  %> <br><br>
  <strong class="text-muted">Username:</strong> <%= req.session.user.user  %> <br><br>
  <strong class="text-muted">Email:</strong> <%= req.session.user.attributes.mail  %> <br><br>
  <strong class="text-muted">Group:</strong> <%= req.session.user.attributes.group  %> <br><br>
  <strong class="text-muted">Timezone:</strong> <%= req.session.user.attributes.timezone  %> <br><br>
  <strong class="text-muted">Date Created:</strong> <%= new Date(req.session.user.attributes.created*1000) %> <br><br>
</div>
<%- include('partials/footer') %>
