<%- include('partials/header') %>

<div class="main-header">
  <span class="main-header-title">
    User Management
  </span>
</div>
<div class="white-subheader">
  <div class="text-subheader">
    Welcome <%= req.session.user.attributes.field_lf_first_name  %>!
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="col-sm-9 content">
  <br><br>
  <%= message %>
  <br><br>
  <span>Create new user as Project Manager</span>
  <br><br>
  <form method="post" action="/create_project_manager_user">
    <div class="col-sm-9">
      <input type="text" name="form_lfid" class="form-control" placeholder="Type lfid">
    </div>
    <div class="col-sm-3">
      <input type="submit" value="Add PM" class="btn btn-primary">
    </div>
  </form>
  <br><br><br>
  <span>Create new user as Admin</span>
  <br><br>
  <form method="post" action="/create_admin_user">
    <div class="col-sm-9">
      <input type="text" name="form_lfid" class="form-control" placeholder="Type lfid">
    </div>
    <div class="col-sm-3">
      <input type="submit" value="Add Admin" class="btn btn-primary">
    </div>
  </form>
  <br><br><br><br>
  <div class="col-sm-9">
    <table class="table" >
      <tr>
        <td><strong>User</strong></td>
        <td><strong>Groups</strong></td>
      </tr>
      <% for(var i=0; i < users.length; i++) { %>
      <tr>
        <td><%= users[i].lfId %></td>
        <td>
          <% if(users[i].groups.length>0) { %>
          <% for(var j=0; j < users[i].groups.length; j++) { %>
            | <%= users[i].groups[j].name %>
          <% } %>
          <% } %>
        </td>
      </tr>
      <% } %>
    </table>
  </div>
</div>

<%- include('partials/footer') %>
