<%- include('partials/header') %>

<div class="main-header-mailing">
  <div class="project-logo-mailing ">
    <a href="/project?id=<%= project_data.project_id%>">
      <img src="/assets/img/test/<%= project_data.project_id%>.png" style="height: 150px;"alt=""/>
    </a>
  </div>
  <div class="main-header-title-mailing">
    <%= project_data.project_name%>
  </div>
  <div class="main-header-subtitle-mailing">
    Email Aliases: <%= project_data.relative_domain %>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Email Templates | <strong style="color:#044D74;">Select</strong></div>
    <div class="hr-divider-vertical"></div>
    <a href="#create-email-alias-modal" data-toggle="modal" style="margin-left: 50px;">
      <button type="button" name="button" class="mailing-list-button-mailing">Create New Email Alias</button>
    </a>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>membership@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          32 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 11:47 AM July 24, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>pr@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          8 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 08:35 AM August 3, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>info@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          30 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 18:54 AM August 8, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>legal@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          4 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 05:19 AM August 12, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>events@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          9 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 11:47 AM July 24, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>trademark@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          12 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 08:35 AM August 3, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>tech@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          12 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 18:54 AM August 8, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
    <div class="mailing-list-control">
      <div class="col-sm-4 mailing-list-title-project">
        <strong>contact@<%= project_data.relative_domain %></strong>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          3 Participants
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 05:19 AM August 12, 2016
        </div>
        <button type="button" name="button" class="mailing-list-button-project">Manage</button>
      </div>
    </div>
  </div>
</div>


<div id="create-email-alias-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header-listing">
        <button type="button" class="close" data-dismiss="modal" style="color: #fff;" aria-label="Close"><span aria-hidden="true" style="color:#fff">X</span></button>
        <div class="modal-title-mailing">
          <span id="myModalLabel">CREATE AN EMAIL ALIAS</span>
        </div>
      </div>
      <div class="modal-body-mailing">
        <br>
        <div class="col-sm-12 content">
          <div class="col-sm-4 content">
            <select class="custom-select custom-select-sm domain-project-edit" style="margin-left:0px;">
              <option>Select</option>
              <option>contact@</option>
              <option>events@</option>
              <option>pr@</option>
              <option>legal@</option>
              <option>membership@</option>
              <option>(new)</option>
            </select>
          </div>
          <div class="col-sm-6 content">
            <input type="text" name="name" class="domain-project-edit" value="Email Address">
          </div>
          <div class="col-sm-2 content">
            <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-top:10px;">Add</button>
          </div>
        </div>
        <br><br><br>
        <div class="modal-body-mailing-list-admin">
          <br>
          <span style="margin-left:12px;">Participants</span>
          <div class="hr-divider-keyline"></div>

        </div>
        <br><br><br>
        <div class="col-sm-12">
          <table class="table" >
            <tr>
              <td><strong>Email</strong></td>
              <td><strong>Remove</strong></td>
            </tr>
            <tr>
              <td>
                john.doe@business.org
              </td>
              <td>
                 &nbsp &nbsp &nbsp <a> &times; </a>
              </td>
            </tr>
            <tr>
              <td>
                lane.meyer@business.org
              </td>
              <td>
                &nbsp  &nbsp &nbsp <a> &times; </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
