<%- include('partials/header') %>

<div class="main-header-project">
  <div class="">
    <div class="project-logo-project-main">
      <a class="project-logo-project" href="/project/<%= project.id %>">
        <br>
        <img src="/uploads/logos/<%= project.logoRef %>" alt=""/>
      </a>
    </div>
    <div class="main-header-title-project" style="margin-top:30px;">
      <span style="color: #999999;"><%= project.name%> <br></span>
      Email Aliases: <%= project.domain %>
    </div>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">
      Email Templates |
      <strong style="color:#044D74;">
        <a href="#select-email-template-modal" data-toggle="modal">
          Select
        </a>
      </strong>
    </div>
    <div class="hr-divider-vertical"></div>
    <a href="#create-email-alias-modal" data-toggle="modal" style="margin-left: 50px;">
      <button type="button" name="button" class="mailing-list-button-mailing">Create New Email Alias</button>
    </a>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">
    <% if (emailAliases){ %>
      <% emailAliases.forEach(function(emailAlias){ %>
        <div class="mailing-list-control">
          <div class="col-sm-4 mailing-list-title-project">
            <strong><%= emailAlias.address %></strong>
          </div>
          <div class="col-sm-4">
            <div class="mailing-list-hr-divider-vertical-project"></div>
            <div class="mailing-list-counter-project">
              <div class="">
                <% if (emailAlias.participants.length == 1){ %>
                  <%= emailAlias.participants.length %> Participant
                <% } else { %>
                  <%= emailAlias.participants.length %> Participants
                <% } %>
                <span class="dropdown-toggle" data-toggle="dropdown">
                  &nbsp;  &nbsp; <span class="caret"></span>  &nbsp; &nbsp;
                </span>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1">
                  <% emailAlias.participants.forEach(function(participant){ %>
                    <li role="presentation"><a role="menuitem" tabindex="-1"><%= participant.address %></a></li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mailing-list-last-edited-project">
              Last updated -
            </div>
            <a href="#manage-email-alias-modal" data-toggle="modal" data-email-alias="<%= emailAlias.address %>" data-email-alias-id="<%= emailAlias.id %>" data-participants="<%= JSON.stringify(emailAlias.participants) %>" style="margin-left: 50px;">
              <button type="button" name="button" class="mailing-list-button-project">Manage</button>
            </a>
          </div>
        </div>
      <% }) %>
    <% } %>
  </div>
</div>

<%- include('partials/email_alias_modal') %>
<%- include('partials/manage_email_alias_modal') %>
<%- include('partials/email_template_modal') %>

<%- include('partials/footer') %>
