<%- include('partials/header') %>
<div class="main-header">
  <span class="main-header-title">
    All Projects
  </span>
</div>
<div class="white-subheader">
  <div class="text-subheader">
    Manage your projects:
  </div>
  <div class="add-project-button">
    <a href="/create_project"> <span class="icon icon-circle-with-plus"></span> </a>
  </div>
  <div class="add-project-title">
    <a href="/create_project">Add Project</a>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="col-sm-12">
  <div class="text-center">
    <div class="card">
      <a style="height: 136px;" class="project-logo img-responsive card-new-img" href="/create_project">
        <br>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span style="font-size: 60px; color:#11abde;" class="icon icon-plus"></span>
        <img alt=""/>
      </a>
      <div class="card-title-new">Add a new project</div><br><br>
      <div class="card-content">
        NEW <br>
        Project Type | <strong style="color:#373A3C;"> — </strong>  <br>
        Project Since | <strong style="color:#373A3C;"> — </strong>  <br>
        Program Manager | <strong style="color:#373A3C;"> — </strong>  <br>
      </div>
    </div>

    <% projects.forEach(function(project){ %>
      <div class="card">
        <a class="project-logo img-responsive" href="/project/<%= project.id %>">
          <br>
          <img src="/assets/img/test/<%= project.id %>.png" alt=""/>
        </a>
        <span class="card-title"><%= project.name %><br><br></span>
        <div class="card-content">
          ACTIVE · Published 22 Jul, 2016 · 2 Members<br>
          Project Type | <strong style="color:black;"><%= project.type %></strong> <br>
          Project Since | <strong style="color:#009900;">31 Jul, 2016</strong> <br>
          Program Manager | <strong style="color:#000099;"><%= project.pm %></strong> <br>
        </div>
      </div>
    <% }) %>

  </div>

  <hr class="m-t">
</div>
<%- include('partials/footer') %>
