<%- include('partials/header') %>

<form method="post" action="/edit_member/<%= project.id %>/<%= memberCompany.orgId %>/<%= memberCompany.id %>" enctype="multipart/form-data" onsubmit="arrangeContacts()">
  <% if(locals.projectId) { %>
    <input type="hidden" name="project_id" value="<%= projectId %>">
  <% } %>
  <div class="main-header-project-edit">
    <div class="project-logo-project-edit-main">
      <div class="project-logo-project-edit" id="logoRef">
        <div style="position: relative;">
          <div class="project-logo-project-edit-inside" style="position: absolute;" >
            <a href="#" onclick="document.getElementById('logo').click(); return false;" /> UPLOAD LOGO </a>
            <input type="file" accept="image/*" name='logoCompany' id="logo" style="visibility: hidden;" value="<%= memberCompany.orgLogoRef %>" />
            <input type="hidden" name="old_logoRef" id="old_logoRef" value="<%= memberCompany.orgLogoRef %>">
          </div>
          <img src="/uploads/<%= memberCompany.orgLogoRef %>" id="preview_logo" alt="LogoRef" style="width: 100%;">
        </div>
      </div>
      <div class="image-message-project-edit">
        Add .jpg, .png, or vector image files under 1 mb
      </div>
    </div>
    <div class="main-header-title-project-edit">
      <span style="color:#11ABDE">| </span>
      <input class="main-header-title-project-input" type="text" name="company_name" placeholder="<%= memberCompany.orgName %>" value="<%= memberCompany.orgName %>">
    </div>
    <div class="last-edited-project-edit">
      EDITING COMPANY CONTACTS -  Last saved 1:05 PM
    </div>
  </div>
  <div class="hr-divider-keyline"></div>
  <div class="white-subheader">
    <div class="content-subheader-member">
      <div class="hr-subheader-divider-vertical"></div>
      <div class="subheader-options">
        <span class="dropdown-toggle" data-toggle="dropdown">
          Membership Tier | <strong style="color:#044D74;"> <span id="membership_tier_label" >Select</span> </strong> <span class="caret"></span>
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <% if(memberCompany.tier.type == 'PLATINUM' || memberCompany.tier.type == 'GOLD' || memberCompany.tier.type == 'SILVER' || memberCompany.tier.type == 'ASSOCIATE') { %>
          <li role="presentation"><a onclick="changeMembershipTier('PLATINUM')" role="menuitem" tabindex="-1">Platinum</a></li>
          <li role="presentation"><a onclick="changeMembershipTier('GOLD')" role="menuitem" tabindex="-1">Gold</a></li>
          <li role="presentation"><a onclick="changeMembershipTier('SILVER')" role="menuitem" tabindex="-1">Silver</a></li>
          <% } if(memberCompany.tier.type == 'PREMIER' || memberCompany.tier.type == 'GENERAL'  || memberCompany.tier.type == 'ASSOCIATE' ) { %>
          <li role="presentation"><a onclick="changeMembershipTier('PREMIER')" role="menuitem" tabindex="-1">Premier</a></li>
          <li role="presentation"><a onclick="changeMembershipTier('GENERAL')" role="menuitem" tabindex="-1">General</a></li>
          <% } %>
          <li role="presentation"><a onclick="changeMembershipTier('ASSOCIATE')" role="menuitem" tabindex="-1">Associate</a></li>
        </ul>
        <input type="hidden" name="membership_tier" class="form-control" id="membership_tier" value="UNSPECIFIED">
      </div>
      <div class="hr-subheader-divider-vertical"></div>
      <div class="subheader-options">
        Member Since:
      </div>
      <div class="subheader-datetime-options">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon icon-calendar"></span>
          </span>
          <input type="text" name="start_date" id="start_date" value="<%= memberCompany.datepickerStartDate %>" class="form-control" data-provide="datepicker" style="width: 200px;">
        </div>
      </div>
      <div class="hr-subheader-divider-vertical"></div>
      <div class="subheader-options">
        Renewal Date:
      </div>
      <div class="subheader-datetime-options">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon icon-calendar"></span>
          </span>
          <input type="text" name="renewal_date" id="renewal_date" value="<%= memberCompany.datepickerRenewalDate %>" class="form-control" data-provide="datepicker" style="width: 200px;">
        </div>
      </div>
    </div>
    <button class="save-button-project-edit" type="submit">
        <strong>SAVE</strong>
    </button>
  </div>
  <div class="hr-divider-keyline"></div>
  <div class="col-sm-12">
    <br>
    <div class="subtitle-content-project">Company Info</div>
    <div class="hr-divider-keyline"></div>
    <br>
    <br>
    <div class="col-sm-6 ">
      <div class="col-lg-12 ">
        <div class="subtitle-content-project">Headquarters Address</div>
        <div class="hr-divider-keyline"></div>
        <br>
      </div>
      <div class="col-lg-12 ">
        <input type="text" name="headquarters_address_line_1" class="domain-project-edit" placeholder="<%= memberCompany.addresses.main.address.thoroughfareLine1 %>" value="<%= memberCompany.addresses.main.address.thoroughfareLine1 %>"> <br><br>
      </div>
      <div class="col-lg-12 " >
        <input type="text" name="headquarters_address_line_2" class="domain-project-edit" placeholder="<%= memberCompany.addresses.main.address.thoroughfareLine2 %>" value="<%= memberCompany.addresses.main.address.thoroughfareLine2 %>"> <br><br>
      </div>
      <div class="col-lg-12 " style="padding: 0px; margin-left:10px;">
        <div class="col-lg-5 ">
          <input type="text" name="headquarters_city" class="textbox-add-company" placeholder="<%= memberCompany.addresses.main.address.localityName %>" value="<%= memberCompany.addresses.main.address.localityName %>">
        </div>
        <div class="col-lg-2">
          <input type="text" name="headquarters_state" class="textbox-add-company" placeholder="<%= memberCompany.addresses.main.address.administrativeArea %>" value="<%= memberCompany.addresses.main.address.administrativeArea %>">
        </div>
        <div class="col-lg-3">
          <select class="textbox-add-company" name="headquarters_country">
            <%- include('partials/selectCountryCode') %>
          </select>
        </div>
        <div class="col-lg-2">
          <input type="text" name="headquarters_zip_code" class="textbox-add-company" placeholder="<%= memberCompany.addresses.main.address.postalCode %>" value="<%= memberCompany.addresses.main.address.postalCode %>">
        </div>
      </div>
      <div class="col-lg-12 " style="margin-top: 20px;">
        <div class="col-lg-5 " style="margin-left:-15px">
          <input type="text" name="headquarters_phone" class="domain-project-edit" placeholder="<%= memberCompany.addresses.main.address.phone %>" value="<%= memberCompany.addresses.main.address.phone %>"> <br><br>
        </div>
      </div>
    </div>

    <div class="col-sm-6 ">
      <div class="col-lg-12 ">
        <div class="subtitle-content-project">Billing Address</div>
        <div class="hr-divider-keyline"></div>
        <br>
      </div>
      <div class="col-lg-12 ">
        <input type="text" name="billing_address_line_1" class="domain-project-edit" placeholder="<%= memberCompany.addresses.billing.address.thoroughfareLine1 %>" value="<%= memberCompany.addresses.billing.address.thoroughfareLine1 %>" > <br><br>
      </div>
      <div class="col-lg-12 " >
        <input type="text" name="billing_address_line_2" class="domain-project-edit" placeholder="<%= memberCompany.addresses.billing.address.thoroughfareLine2 %>" value="<%= memberCompany.addresses.billing.address.thoroughfareLine2 %>" > <br><br>
      </div>
      <div class="col-lg-12 " style="padding: 0px; margin-left:10px;">
        <div class="col-lg-5 ">
          <input type="text" name="billing_city" class="textbox-add-company" placeholder="<%= memberCompany.addresses.billing.address.localityName %>" value="<%= memberCompany.addresses.billing.address.localityName %>" >
        </div>
        <div class="col-lg-2">
          <input type="text" name="billing_state" class="textbox-add-company" placeholder="<%= memberCompany.addresses.billing.address.administrativeArea %>" value="<%= memberCompany.addresses.billing.address.administrativeArea %>" >
        </div>
        <div class="col-lg-3">
          <select class="textbox-add-company" name="billing_country">
            <%- include('partials/selectCountryCode') %>
          </select>
        </div>
        <div class="col-lg-2">
          <input type="text" name="billing_zip_code" class="textbox-add-company" placeholder="<%= memberCompany.addresses.billing.address.postalCode %>" value="<%= memberCompany.addresses.billing.address.postalCode %>" >
        </div>
      </div>
      <div class="col-lg-12 " style="margin-top: 20px;">
        <div class="col-lg-5 " style="margin-left:-15px">
          <input type="text" name="billing_phone" class="domain-project-edit" placeholder="<%= memberCompany.addresses.billing.address.phone %>" value="<%= memberCompany.addresses.billing.address.phone %>" > <br><br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <input type="hidden" id="updatedContacts"  name="updatedContacts" value="">
    <br><br><br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2">Contacts</div>
      <div class="col-sm-1">Bio</div>
      <div class="col-sm-7">Information</div>
      <div class="col-sm-1">Email Alias</div>
      <div class="col-sm-1">Headshot</div>
    </div>
    <br><br>
    <div class="hr-divider-keyline"></div>
    <br><br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">BOARD MEMBER</div>
      <div class="col-sm-1">
        <input type="hidden" name="board_contact_bio" id="board_contact_bio" value="<%= memberCompany.contacts.board.bio %>">
        <a href="#add-bio-modal" data-toggle="modal" data-member-bio-name="board_contact_bio" data-member-type="Board Member">Edit</a>
      </div>
      <input type="hidden" name="board_contact_id" id="board_contact_id" value="<%= memberCompany.contacts.board.id %>">
      <div class="col-sm-1"><input type="text" name="board_contact_first_name" class="domain-project-edit" placeholder="<%= memberCompany.contacts.board.givenName %>" value="<%= memberCompany.contacts.board.givenName %>" ></div>
      <div class="col-sm-1"><input type="text" name="board_contact_last_name" class="domain-project-edit" placeholder="<%= memberCompany.contacts.board.familyName %>" value="<%= memberCompany.contacts.board.familyName %>" ></div>
      <div class="col-sm-3"><input type="text" name="board_contact_email" class="domain-project-edit" placeholder="<%= memberCompany.contacts.board.email %>" value="<%= memberCompany.contacts.board.email %>" ></div>
      <div class="col-sm-2"><input type="text" name="board_contact_phone" class="domain-project-edit" placeholder="<%= memberCompany.contacts.board.phon %>" value="<%= memberCompany.contacts.board.phone %>" ></div>
      <div class="col-sm-1"><input type="text" name="board_contact_email_alias" class="domain-project-edit" placeholder="info@"></div>
      <div class="col-sm-1">
        <a href="#">
          <img id="preview_board_headshot"  name="preview_board_headshot" onclick="document.getElementById('board_headshot').click(); return false;"  src="/uploads/<%= memberCompany.contacts.board.headshotRef %>" alt="" style="height: 50px;">
        </a>
        <a id="board_headshot_add" href="#" style="margin-left:15px; display:inline-block;" onclick="document.getElementById('board_headshot').click(); return false;" /> Add </a>
        <input type="hidden" name="board_headshot_filename" id="board_headshot_filename"  value="">
        <input type="file" accept="image/*" name='board_headshot' id="board_headshot" style="visibility: hidden;" />
      </div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">TECHNICAL (TSC)</div>
      <input type="hidden" name="technical_contact_id" id="technical_contact_id" value="<%= memberCompany.contacts.technical.id %>">
      <div class="col-sm-1">
        <input type="hidden" name="technical_contact_bio" id="technical_contact_bio" value="<%= memberCompany.contacts.technical.bio %>">
        <a href="#add-bio-modal" data-toggle="modal" data-member-bio-name="technical_contact_bio" data-member-type="Technical Member">Edit</a>
      </div>
      <div class="col-sm-1"><input name="technical_contact_first_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.technical.givenName %>" value="<%= memberCompany.contacts.technical.givenName %>" ></div>
      <div class="col-sm-1"><input name="technical_contact_last_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.technical.familyName %>" value="<%= memberCompany.contacts.technical.familyName %>" ></div>
      <div class="col-sm-3"><input name="technical_contact_email" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.technical.email %>" value="<%= memberCompany.contacts.technical.email %>" ></div>
      <div class="col-sm-2"><input name="technical_contact_phone" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.technical.phone %>" value="<%= memberCompany.contacts.technical.phone %>" ></div>
      <div class="col-sm-1"><input name="technical_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1">
        <a href="#">
          <img id="preview_technical_headshot" name="preview_technical_headshot" onclick="document.getElementById('technical_headshot').click(); return false;"  src="/uploads/<%= memberCompany.contacts.technical.headshotRef %>" alt="" style="height: 50px;">
        </a>
        <a id="technical_headshot_add" href="#" style="margin-left:15px; display:inline-block;" onclick="document.getElementById('technical_headshot').click(); return false;" /> Add </a>
        <input type="hidden" name="technical_headshot_filename" id="technical_headshot_filename"  value="">
        <input type="file" accept="image/*" name='technical_headshot' id="technical_headshot" style="visibility: hidden;" />
      </div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">MARKETING</div>
      <input type="hidden" name="marketing_contact_id" id="marketing_contact_id" value="<%= memberCompany.contacts.marketing.id %>">
      <div class="col-sm-1">
        <input type="hidden" name="marketing_contact_bio" id="marketing_contact_bio" value="<%= memberCompany.contacts.marketing.bio %>">
        <a href="#add-bio-modal" data-toggle="modal" data-member-bio-name="marketing_contact_bio" data-member-type="Marketing Member">Edit</a>
      </div>
      <div class="col-sm-1"><input name="marketing_contact_first_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.marketing.givenName %>" value="<%= memberCompany.contacts.marketing.givenName %>" ></div>
      <div class="col-sm-1"><input name="marketing_contact_last_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.marketing.familyName %>" value="<%= memberCompany.contacts.marketing.familyName %>" ></div>
      <div class="col-sm-3"><input name="marketing_contact_email" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.marketing.email %>" value="<%= memberCompany.contacts.marketing.email %>" ></div>
      <div class="col-sm-2"><input name="marketing_contact_phone" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.marketing.phone %>" value="<%= memberCompany.contacts.marketing.phone %>" ></div>
      <div class="col-sm-1"><input name="marketing_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1">
        <a href="#">
          <img id="preview_marketing_headshot" onclick="document.getElementById('marketing_headshot').click(); return false;"  src="/uploads/<%= memberCompany.contacts.marketing.headshotRef %>" alt="" style="height: 50px;">
        </a>
        <a id="marketing_headshot_add" href="#" style="margin-left:15px; display:inline-block;" onclick="document.getElementById('marketing_headshot').click(); return false;" /> Add </a>
        <input type="hidden" name="marketing_headshot_filename" id="marketing_headshot_filename"  value="">
        <input type="file" accept="image/*" name='marketing_headshot' id="marketing_headshot" style="visibility: hidden;" />
      </div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company">FINANCE</div>
      <input type="hidden" name="finance_contact_id" id="finance_contact_id" value="<%= memberCompany.contacts.finance.id %>">
      <div class="col-sm-1">
        <input type="hidden" name="finance_contact_bio" id="finance_contact_bio" value="<%= memberCompany.contacts.finance.bio %>">
        <a href="#add-bio-modal" data-toggle="modal" data-member-bio-name="finance_contact_bio" data-member-type="Finance Member">Edit</a>
      </div>
      <div class="col-sm-1"><input name="finance_contact_first_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.finance.givenName %>" value="<%= memberCompany.contacts.finance.givenName %>" ></div>
      <div class="col-sm-1"><input name="finance_contact_last_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.finance.familyName %>" value="<%= memberCompany.contacts.finance.familyName %>" ></div>
      <div class="col-sm-3"><input name="finance_contact_email" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.finance.email %>" value="<%= memberCompany.contacts.finance.email %>" ></div>
      <div class="col-sm-2"><input name="finance_contact_phone" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.finance.phone %>" value="<%= memberCompany.contacts.finance.phone %>" ></div>
      <div class="col-sm-1"><input name="finance_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1">
        <a href="#">
          <img id="preview_finance_headshot" onclick="document.getElementById('finance_headshot').click(); return false;"  src="/uploads/<%= memberCompany.contacts.finance.headshotRef %>" alt="" style="height: 50px;">
        </a>
        <a id="finance_headshot_add" href="#" style="margin-left:15px; display:inline-block;" onclick="document.getElementById('finance_headshot').click(); return false;" /> Add </a>
        <input type="hidden" name="finance_headshot_filename" id="finance_headshot_filename"  value="">
        <input type="file" accept="image/*" name='finance_headshot' id="finance_headshot" style="visibility: hidden;" />
      </div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
    <br>
    <div class="subtitle-content-project col-sm-12">
      <div class="col-sm-2 table-contact-add-company"><input name="other_contact_type" type="text" class="domain-project-edit" style="margin-left:-5px;" placeholder="<%= memberCompany.contacts.other.type %>" value="<%= memberCompany.contacts.other.type %>" ></div>
      <input type="hidden" name="other_contact_id" id="other_contact_id" value="<%= memberCompany.contacts.other.id %>">
      <div class="col-sm-1">
        <input type="hidden" name="other_contact_bio" id="other_contact_bio" value="<%= memberCompany.contacts.other.bio %>">
        <a href="#add-bio-modal" data-toggle="modal" data-member-bio-name="other_contact_bio" data-member-type="Other Member">Edit</a>
      </div>
      <div class="col-sm-1"><input name="other_contact_first_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.other.givenName %>" value="<%= memberCompany.contacts.other.givenName %>" ></div>
      <div class="col-sm-1"><input name="other_contact_last_name" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.other.familyName %>" value="<%= memberCompany.contacts.other.familyName %>" ></div>
      <div class="col-sm-3"><input name="other_contact_email" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.other.email %>" value="<%= memberCompany.contacts.other.email %>" ></div>
      <div class="col-sm-2"><input name="other_contact_phone" type="text" class="domain-project-edit" placeholder="<%= memberCompany.contacts.other.phone %>" value="<%= memberCompany.contacts.other.phone %>" ></div>
      <div class="col-sm-1"><input name="other_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
      <div class="col-sm-1">
        <a href="#">
          <img id="preview_other_headshot" onclick="document.getElementById('other_headshot').click(); return false;"  src="/uploads/<%= memberCompany.contacts.other.headshotRef %>" alt="" style="height: 50px;">
        </a>
        <a id="other_headshot_add" href="#" style="margin-left:15px; display:inline-block;" onclick="document.getElementById('other_headshot').click(); return false;" /> Add </a>
        <input type="hidden" name="other_headshot_filename" id="other_headshot_filename"  value="">
        <input type="file" accept="image/*" name='other_headshot' id="other_headshot" style="visibility: hidden;" />
      </div>
    </div>
    <br><br><br>
    <div class="hr-divider-keyline"></div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-12 content mailing-list-project">
      <div class="hr-divider-keyline-save"></div>
      <div class="discard-message-edit-project">x Discard Changes</div>
      <div class="button-save-changes-edit-project-div">
        <input type="submit" class="button-save-changes-edit-project" name="button" value="Save Changes" />
      </div>
      <div class="hr-divider-keyline-save"></div>
    </div>
  </div>

</form>

<script type="text/javascript">

  document.getElementById("membership_tier").value = "<%= memberCompany.tier.type %>" ;
  document.getElementById("membership_tier_label").innerHTML = "<%= memberCompany.tier.type %>";

  var boardHeadshotRef = "<%= memberCompany.contacts.board.headshotRef %>";
  var technicalHeadshotRef = "<%= memberCompany.contacts.technical.headshotRef %>";
  var marketingHeadshotRef = "<%= memberCompany.contacts.marketing.headshotRef %>";
  var financeHeadshotRef = "<%= memberCompany.contacts.finance.headshotRef %>";
  var otherHeadshotRef = "<%= memberCompany.contacts.other.headshotRef %>";
  if(boardHeadshotRef) document.getElementById("board_headshot_add").style.display = "none";
  if(technicalHeadshotRef) document.getElementById("technical_headshot_add").style.display = "none";
  if(marketingHeadshotRef) document.getElementById("marketing_headshot_add").style.display = "none";
  if(financeHeadshotRef) document.getElementById("finance_headshot_add").style.display = "none";
  if(otherHeadshotRef) document.getElementById("other_headshot_add").style.display = "none";

  function readImgSrc(input, target) {
    var img_target = "#preview_" + target;
    var preview_target = "preview_" + target;
    var add_label_target = target + "_add";
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(img_target).attr('src', e.target.result);
        document.getElementById(preview_target).style.display = "block";
        document.getElementById(add_label_target).style.display = "none";
        document.getElementById(target + "_filename").value = input.files[0].name;
      }
      reader.readAsDataURL(input.files[0]);
    }
    else {
      document.getElementById(preview_target).style.display = "none";
      document.getElementById(add_label_target).style.display = "block";
    }
  }
  $("#logo").change(function(){
    readImgSrc(this, "logo");
  });
  $("#board_headshot").change(function(){
    readImgSrc(this, "board_headshot");
  });
  $("#technical_headshot").change(function(){
    readImgSrc(this, "technical_headshot");
  });
  $("#marketing_headshot").change(function(){
    readImgSrc(this, "marketing_headshot");
  });
  $("#finance_headshot").change(function(){
    readImgSrc(this, "finance_headshot");
  });
  $("#other_headshot").change(function(){
    readImgSrc(this, "other_headshot");
  });

  function changeMembershipTier(membership_tier){
    document.getElementById("membership_tier").value = membership_tier;
    document.getElementById("membership_tier_label").innerHTML = membership_tier;
  };

  function arrangeContacts(){
    var updatedContacts = [];
    boardHeadshotRef = document.getElementsByName('board_headshot_filename')[0].value;
    technicalHeadshotRef = document.getElementsByName('technical_headshot_filename')[0].value;
    marketingHeadshotRef = document.getElementsByName('marketing_headshot_filename')[0].value;
    financeHeadshotRef = document.getElementsByName('finance_headshot_filename')[0].value;
    otherHeadshotRef = document.getElementsByName('other_headshot_filename')[0].value;
    if(boardHeadshotRef == "") boardHeadshotRef = "<%= memberCompany.contacts.board.headshotRef %>";
    if(technicalHeadshotRef == "") technicalHeadshotRef = "<%= memberCompany.contacts.technical.headshotRef %>";
    if(marketingHeadshotRef == "") marketingHeadshotRef = "<%= memberCompany.contacts.marketing.headshotRef %>";
    if(financeHeadshotRef == "") financeHeadshotRef = "<%= memberCompany.contacts.finance.headshotRef %>";
    if(otherHeadshotRef == "") otherHeadshotRef = "<%= memberCompany.contacts.other.headshotRef %>";

    updatedContacts[0] = {
      type: "BOARD MEMBER",
      id: document.getElementsByName('board_contact_id')[0].value,
      givenName: document.getElementsByName('board_contact_first_name')[0].value,
      familyName: document.getElementsByName('board_contact_last_name')[0].value,
      bio: document.getElementsByName('board_contact_bio')[0].value,
      email: document.getElementsByName('board_contact_email')[0].value,
      phone: document.getElementsByName('board_contact_phone')[0].value,
      headshotRef: boardHeadshotRef
    };
    updatedContacts[1] = {
      type: "TECHNICAL",
      id: document.getElementsByName('technical_contact_id')[0].value,
      givenName: document.getElementsByName('technical_contact_first_name')[0].value,
      familyName: document.getElementsByName('technical_contact_last_name')[0].value,
      bio: document.getElementsByName('technical_contact_bio')[0].value,
      email: document.getElementsByName('technical_contact_email')[0].value,
      phone: document.getElementsByName('technical_contact_phone')[0].value,
      headshotRef: technicalHeadshotRef
    };
    updatedContacts[2] = {
      type: "MARKETING",
      id: document.getElementsByName('marketing_contact_id')[0].value,
      givenName: document.getElementsByName('marketing_contact_first_name')[0].value,
      familyName: document.getElementsByName('marketing_contact_last_name')[0].value,
      bio: document.getElementsByName('marketing_contact_bio')[0].value,
      email: document.getElementsByName('marketing_contact_email')[0].value,
      phone: document.getElementsByName('marketing_contact_phone')[0].value,
      headshotRef: marketingHeadshotRef
    };
    updatedContacts[3] = {
      type: "FINANCE",
      id: document.getElementsByName('finance_contact_id')[0].value,
      givenName: document.getElementsByName('finance_contact_first_name')[0].value,
      familyName: document.getElementsByName('finance_contact_last_name')[0].value,
      bio: document.getElementsByName('finance_contact_bio')[0].value,
      email: document.getElementsByName('finance_contact_email')[0].value,
      phone: document.getElementsByName('finance_contact_phone')[0].value,
      headshotRef: financeHeadshotRef
    };
    updatedContacts[4] = {
      type: document.getElementsByName('other_contact_type')[0].value,
      id: document.getElementsByName('other_contact_id')[0].value,
      givenName: document.getElementsByName('other_contact_first_name')[0].value,
      familyName: document.getElementsByName('other_contact_last_name')[0].value,
      bio: document.getElementsByName('other_contact_bio')[0].value,
      email: document.getElementsByName('other_contact_email')[0].value,
      phone: document.getElementsByName('other_contact_phone')[0].value,
      headshotRef: otherHeadshotRef
    };
    document.getElementById("updatedContacts").value = JSON.stringify(updatedContacts);
  }
</script>

<%- include('partials/bio_modal') %>
<%- include('partials/footer') %>
