<%- include('partials/header') %>

<div class="main-header-project">
  <div class="">
    <div class="project-logo-project-main">
      <a class="project-logo-project" href="/project/<%= project.id%>">
        <br>
        <img src="/assets/img/test/<%= project.id%>.png" alt=""/>
      </a>
    </div>
    <div class="main-header-title-project" style="margin-top:30px;">
      <span style="color: #999999;"><%= project.name%> <br></span>
      Mailing Lists
    </div>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">
      Email Templates |
      <strong style="color:#044D74;">
        <a href="#select-email-template-modal" data-toggle="modal">
          Select
        </a>
      </strong>
    </div>
    <div class="hr-divider-vertical"></div>
    <a href="#create-mailing-list-modal" data-toggle="modal" data-project-id="<%= project.id %>" style="margin-left: 50px;">
      <button type="button" name="button" class="mailing-list-button-mailing">Create New Mailing List</button>
    </a>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">

    <!-- Mailing list row template -->
    <!-- <div class="mailing-list-control">
      <div class="col-sm-2 mailing-list-title-project">
        <strong>New Mailing List Title #1</strong>
      </div>
      <div class="col-sm-6">
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          105 Participants
        </div>
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          List Type: Public
        </div>
        <div class="mailing-list-hr-divider-vertical-project"></div>
        <div class="mailing-list-counter-project">
          Membership Access: Public
        </div>
      </div>
      <div class="col-sm-4">
        <div class="mailing-list-last-edited-project">
          Last updated 11:47 AM July 24, 2016
        </div>
        <a href="#manage-mailing-list-modal" data-toggle="modal" data-project-id="<%= project.id%>" data-mailing-list-name="Mailing List TEST Name" data-mailing-list-id="INSERT_MAILING_LIST_ID" style="margin-left: 50px;">
          <button type="button" name="button" class="mailing-list-button-project">Manage</button>
        </a>
      </div>
    </div> -->

      <% if (mailingLists){ %>

        <%= mailingLists.length %> mailing lists

        <% mailingLists.forEach(function(mailingList){ %>
          <div class="mailing-list-control">
            <div class="col-sm-1 mailing-list-title-project">
              <strong><%= mailingList.name %></strong>
            </div>
            <div class="col-sm-9">
              <div class="col-sm-12">
                <div class="col-sm-3">
                  <div class="mailing-list-hr-divider-vertical-project"></div>
                  <div class="mailing-list-counter-project">
                    <div class="">
                      <% if (mailingList.memberCount == 1){ %>
                        <%= mailingList.memberCount %> Participant
                      <% } else { %>
                        <%= mailingList.memberCount %> Participants
                      <% } %>
                      <% if (mailingList.participants != ''){ %>
                        <span class="dropdown-toggle" data-toggle="dropdown">
                          &nbsp;  &nbsp; <span class="caret"></span>  &nbsp; &nbsp;
                        </span>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1">
                          <% mailingList.participants.forEach(function(participant){ %>
                            <li role="presentation"><a role="menuitem" tabindex="-1"><%= participant.address %></a></li>
                          <% }) %>
                        </ul>
                      <% } %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="mailing-list-hr-divider-vertical-project"></div>
                  <div class="mailing-list-counter-project">
                    Subscribe Policy: <%= mailingList.subscribePolicy %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="mailing-list-hr-divider-vertical-project"></div>
                  <div class="mailing-list-counter-project">
                    Archive Policy: <%= mailingList.archivePolicy %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="mailing-list-last-edited-project">
                <!-- Last updated - -->
              </div>

              <a href="#manage-mailing-list-modal" data-toggle="modal" data-mailing-list-name="<%= mailingList.name %>" data-mailing-list-id="<%= mailingList.id %>" data-participants="<%= JSON.stringify(mailingList.participants) %>" style="margin-left: 50px;">
                <button type="button" name="button" class="mailing-list-button-project">Manage</button>
              </a>

              <!-- <button type="button" name="button" class="mailing-list-button-project">Manage</button> -->
              <!--  insert Manage button -->
            </div>
          </div>
        <% }) %>
      <% } %>


  </div>
</div>

<%- include('partials/mailing_list_modal') %>
<%- include('partials/manage_mailing_list_modal') %>
<%- include('partials/email_template_modal') %>

<%- include('partials/footer') %>
