<%- include('partials/header') %>

<div class="main-header-project">
  <div class="">
    <div class="project-logo-project-main">
      <a class="project-logo-project" href="/project/<%= project.id %>">
        <br>
        <img src="/uploads/logos/<%= memberCompany.orgLogoRef %>" alt=""/>
      </a>
    </div>
    <div class="main-header-title-project">
      <%= memberCompany.orgName %>
    </div>
  </div>
  <div class="last-edited-project">
    Last edited 11:47 AM
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Membership Tier | <strong style="color:black;"><%= memberCompany.tier %></strong></div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Member Since | <strong style="color:black;"><%= memberCompany.startDate %></strong></div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Renewal Date | <strong style="color:black;"><%= memberCompany.renewalDate %></strong></div>
  </div>
  <div class="add-project-button">
    <a href="/edit_member/<%= project.id %>/<%= memberCompany.id %>"> <span class="icon icon-circle-with-plus"></span> </a>
  </div>
  <div class="edit-project-title">
    <a href="/edit_member/<%= project.id %>/<%= memberCompany.id %>">Edit</a>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="col-sm-12">
  <br>
  <div class="subtitle-content-project">Company Info</div>
  <div class="hr-divider-keyline"></div>
  <br>
  <br>
  <div class="col-sm-6 ">
    <div class="col-lg-12 ">
      <div class="subtitle-content-project">Headquarters Address</div>
      <div class="hr-divider-keyline"></div>
      <br>
    </div>
    <div class="col-lg-12" style="padding: 0px; margin-left:50px;">
      <div name="headquarters_address_line_1"><%= memberCompany.addresses.main.address.thoroughfareLine1 %></div>
      <div name="headquarters_address_line_2"><%= memberCompany.addresses.main.address.thoroughfareLine2 %></div>
      <div name="headquarters_city"><%= memberCompany.addresses.main.address.localityName %></div>
      <div name="headquarters_state"><%= memberCompany.addresses.main.address.administrativeArea %></div>
      <div name="headquarters_country"><%= memberCompany.addresses.main.address.country %></div>
      <div name="headquarters_zip_code"><%= memberCompany.addresses.main.address.postalCode %></div>
      <div name="headquarters_phone"><%= memberCompany.addresses.main.address.phone %></div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="col-lg-12 ">
      <div class="subtitle-content-project">Billing Address</div>
      <div class="hr-divider-keyline"></div>
      <br>
    </div>
    <div class="col-lg-12" style="padding: 0px; margin-left:50px;">
      <div name="billing_address_line_1"><%= memberCompany.addresses.billing.address.thoroughfareLine1 %></div>
      <div name="billing_address_line_2"><%= memberCompany.addresses.billing.address.thoroughfareLine2 %></div>
      <div name="billing_city"><%= memberCompany.addresses.billing.address.localityName %></div>
      <div name="billing_state"><%= memberCompany.addresses.billing.address.administrativeArea %></div>
      <div name="billing_country"><%= memberCompany.addresses.billing.address.country %></div>
      <div name="billing_zip_code"><%= memberCompany.addresses.billing.address.postalCode %></div>
      <div name="billing_phone"><%= memberCompany.addresses.billing.address.phone %></div>
    </div>
  </div>
</div>
<div class="col-sm-12">
  <br><br><br>
  <div class="subtitle-content-project col-sm-12">
    <div class="col-sm-2">Contacts</div>
    <div class="col-sm-1">Bio</div>
    <div class="col-sm-7">Information</div>
    <div class="col-sm-1">Email Alias</div>
    <div class="col-sm-1">Headshot</div>
  </div>
  <br><br>
  <div class="hr-divider-keyline"></div>
  <br><br>
  <div class="subtitle-content-project col-sm-12">
    <div class="col-sm-2 table-contact-add-company">BOARD MEMBER</div>
    <div class="col-sm-1"><a>Add</a></div>
    <div class="col-sm-1"><div name="board_contact_first_name"><%= memberCompany.contacts.board.givenName %></div></div>
    <div class="col-sm-1"><div name="board_contact_last_name"><%= memberCompany.contacts.board.familyName %></div></div>
    <div class="col-sm-3"><div name="board_contact_email"><%= memberCompany.contacts.board.email %></div></div>
    <div class="col-sm-2"><div name="board_contact_phone"><%= memberCompany.contacts.board.phone %></div></div>
    <div class="col-sm-1"><input type="text" name="board_contact_email_alias" class="domain-project-edit" placeholder="info@"></div>
    <div class="col-sm-1"><img src="assets/img/headshot.png" alt="" style="width:40px; margin-right:5px;  margin-left:-5px;" /><a><b>Add</b></a></div>
  </div>
  <br><br><br>
  <div class="hr-divider-keyline"></div>
  <br>
  <div class="subtitle-content-project col-sm-12">
    <div class="col-sm-2 table-contact-add-company">TECHNICAL (TSC)</div>
    <div class="col-sm-1"><a>Add</a></div>
    <div class="col-sm-1"><div name="technical_contact_first_name"><%= memberCompany.contacts.technical.givenName %></div></div>
    <div class="col-sm-1"><div name="technical_contact_last_name"><%= memberCompany.contacts.technical.familyName %></div></div>
    <div class="col-sm-3"><div name="technical_contact_email"><%= memberCompany.contacts.technical.email %></div></div>
    <div class="col-sm-2"><div name="technical_contact_phone"><%= memberCompany.contacts.technical.phone %></div></div>
    <div class="col-sm-1"><input name="technical_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
    <div class="col-sm-1"><img src="assets/img/headshot.png" alt="" style="width:40px; margin-right:5px;  margin-left:-5px;" /><a><b>Add</b></a></div>
  </div>
  <br><br><br>
  <div class="hr-divider-keyline"></div>
  <br>
  <div class="subtitle-content-project col-sm-12">
    <div class="col-sm-2 table-contact-add-company">MARKETING</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"><div name="marketing_contact_first_name"><%= memberCompany.contacts.marketing.givenName %></div></div>
    <div class="col-sm-1"><div name="marketing_contact_last_name"><%= memberCompany.contacts.marketing.familyName %></div></div>
    <div class="col-sm-3"><div name="marketing_contact_email"><%= memberCompany.contacts.marketing.email %></div></div>
    <div class="col-sm-2"><div name="marketing_contact_phone"><%= memberCompany.contacts.marketing.phone %></div></div>
    <div class="col-sm-1"><input name="marketing_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
    <div class="col-sm-1"></div>
  </div>
  <br><br><br>
  <div class="hr-divider-keyline"></div>
  <br>
  <div class="subtitle-content-project col-sm-12">
    <div class="col-sm-2 table-contact-add-company">FINANCE</div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"><div name="finance_contact_first_name"><%= memberCompany.contacts.finance.givenName %></div></div>
    <div class="col-sm-1"><div name="finance_contact_last_name"><%= memberCompany.contacts.finance.familyName %></div></div>
    <div class="col-sm-3"><div name="finance_contact_email"><%= memberCompany.contacts.finance.email %></div></div>
    <div class="col-sm-2"><div name="finance_contact_phone"><%= memberCompany.contacts.finance.phone %></div></div>
    <div class="col-sm-1"><input name="finance_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
    <div class="col-sm-1"></div>
  </div>
  <br><br><br>
  <div class="hr-divider-keyline"></div>
  <br>
  <div class="subtitle-content-project col-sm-12">
    <div class="col-sm-2 table-contact-add-company"><div name="other_contact_type"><%= memberCompany.contacts.other.type %></div></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"><div name="other_contact_first_name"><%= memberCompany.contacts.other.givenName %></div></div>
    <div class="col-sm-1"><div name="other_contact_last_name"><%= memberCompany.contacts.other.familyName %></div></div>
    <div class="col-sm-3"><div name="other_contact_email"><%= memberCompany.contacts.other.email %></div></div>
    <div class="col-sm-2"><div name="other_contact_phone"><%= memberCompany.contacts.other.phone %></div></div>
    <div class="col-sm-1"><input name="other_contact_email_alias" type="text" class="domain-project-edit" placeholder="Select"></div>
    <div class="col-sm-1"></div>
  </div>
  <br><br><br>
  <div class="hr-divider-keyline"></div>
</div>

<%- include('partials/footer') %>
