<%- include('partials/header') %>

<div class="main-header-mailing">
  <div class="project-logo-mailing ">
    <a href="/project?id=<%= project_data.project_id%>">
      <img src="/assets/img/test/<%= project_data.project_id%>.png" style="height: 150px;"alt=""/>
    </a>
  </div>
  <div class="main-header-title-mailing">
    <%= project_data.project_name%>
  </div>
  <div class="main-header-subtitle-mailing">
    Member Companies
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="title-subheader-members">View, Track, or Add Member Companies to the Zephyr Open Source Project</div>
    <a href="/add_company"><button type="button" name="button" class="mailing-list-button-mailing">Add Member Company</button></a>
  </div>
</div>
<div class="hr-divider-keyline"></div>

<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">

    <div class="menu-members-table" >
      <div class="col-sm-2">
        <div class="hr-divider-vertical"></div>
        <div class="title-subheader-member">MEMBER NAME & LOGO</div>
      </div>
      <div class="col-sm-2">
        <div class="hr-divider-vertical"></div>
        <div class="title-subheader-member">MEMBERSHIP TIER</div>
      </div>
      <div class="col-sm-2">
        <div class="hr-divider-vertical"></div>
        <div class="title-subheader-member">MEMBER SINCE</div>
      </div>
      <div class="col-sm-2">
        <div class="hr-divider-vertical"></div>
        <div class="title-subheader-member">RENEWAL DATE</div>
      </div>
      <div class="col-sm-2">
        <div class="hr-divider-vertical"></div>
        <div class="title-subheader-member">INVOICE DUE</div>
      </div>
      <div class="col-sm-2">
        <div class="hr-divider-vertical"></div>
        <div class="title-subheader-member">INVOICE STATUS</div>
        <div class="hr-divider-vertical"></div>
      </div>
    </div>
    <!-- <div class="hr-divider-keyline-member "></div> -->

    <div class="members-table">
      <div class="members-table-text">
        <div class="col-sm-2">
          Acer
        </div>
        <div class="col-sm-2">
          Platinum
        </div>
        <div class="col-sm-2">
          February 2, 2016
        </div>
        <div class="col-sm-2">
          February 15, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table-dark">
      <div class="members-table-text">
        <div class="col-sm-2">
          Adobe
        </div>
        <div class="col-sm-2">
          Gold
        </div>
        <div class="col-sm-2">
          June 5, 2016
        </div>
        <div class="col-sm-2">
          June 15, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table">
      <div class="members-table-text">
        <div class="col-sm-2">
          Apple
        </div>
        <div class="col-sm-2">
          Premium
        </div>
        <div class="col-sm-2">
          July 7, 2016
        </div>
        <div class="col-sm-2">
          July 17, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table-dark">
      <div class="members-table-text">
        <div class="col-sm-2">
          AMD
        </div>
        <div class="col-sm-2">
          Premium
        </div>
        <div class="col-sm-2">
          March 8, 2016
        </div>
        <div class="col-sm-2">
          March 18, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table">
      <div class="members-table-text">
        <div class="col-sm-2">
          BenQ
        </div>
        <div class="col-sm-2">
          Platinum
        </div>
        <div class="col-sm-2">
          May 16, 2016
        </div>
        <div class="col-sm-2">
          May 26, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table-dark">
      <div class="members-table-text">
        <div class="col-sm-2">
          Cisco
        </div>
        <div class="col-sm-2">
          Gold
        </div>
        <div class="col-sm-2">
          July 21, 2016
        </div>
        <div class="col-sm-2">
          July 31, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table">
      <div class="members-table-text">
        <div class="col-sm-2">
          Dell
        </div>
        <div class="col-sm-2">
          Gold
        </div>
        <div class="col-sm-2">
          June 1, 2016
        </div>
        <div class="col-sm-2">
          June 11, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table-dark">
      <div class="members-table-text">
        <div class="col-sm-2">
          Intel
        </div>
        <div class="col-sm-2">
          Platinum
        </div>
        <div class="col-sm-2">
          December 5, 2016
        </div>
        <div class="col-sm-2">
          December 15, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table">
      <div class="members-table-text">
        <div class="col-sm-2">
          Fisher Price
        </div>
        <div class="col-sm-2">
          Platinum
        </div>
        <div class="col-sm-2">
          November 4, 2016
        </div>
        <div class="col-sm-2">
          November 14, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

    <div class="members-table-dark">
      <div class="members-table-text">
        <div class="col-sm-2">
          Fedex
        </div>
        <div class="col-sm-2">
          Premium
        </div>
        <div class="col-sm-2">
          January 3, 2016
        </div>
        <div class="col-sm-2">
          January 13, 2017
        </div>
        <div class="col-sm-2">
          -
        </div>
        <div class="col-sm-2">
          -
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
