<%- include('partials/header') %>

<div class="main-header-project">
  <div class="">
    <div class="project-logo-project-main">
      <a class="project-logo-project" href="/project/<%= project.id%>">
        <br>
        <img src="/uploads/<%= project.logoRef%>" alt=""/>
      </a>
    </div>
    <div class="main-header-title-project" style="margin-top:30px;">
      <span style="color: #999999;"><%= project.name%><br></span>
      Member Companies
    </div>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="title-subheader-members">View, Track, or Add Member Companies to the <%= project.name%> Project</div>
    <a href="/create_member/<%= project.id%>" style="margin-left: 50px;">
      <button type="button" name="button" class="mailing-list-button-mailing">Add Member Company</button>
    </a>
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">
    <table class="table">
      <thead>
        <tr>
          <th>MEMBER NAME</th>
          <th>MEMBERSHIP TIER</th>
          <th>MEMBER SINCE</th>
          <th>RENEWAL DATE</th>
          <th>INVOICE DUE</th>
          <th>INVOICE STATUS</th>
        </tr>
      </thead>
      <tbody>
        <% if (memberCompanies){ %>
          <% if (memberCompanies.length > 0){ %>
            <% memberCompanies.forEach(function(memberCompany){ %>
              <tr>
                <th scope="row"><%= memberCompany.orgName %></th>
                <td><%= memberCompany.tier %></td>
                <td><%= memberCompany.startDate %></td>
                <td><%= memberCompany.renewalDate %></td>
                <td>-</td>
                <td>-</td>
              </tr>
            <% }) %>
          <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include('partials/footer') %>
