<%- include('partials/header') %>

<div class="main-header-project">
  <div class="">
    <div class="project-logo-project-main">
      <a class="project-logo-project" href="/project/<%= project.id %>">
        <br>
        <img src="/uploads/<%= project.logoRef %>" alt=""/>
      </a>
    </div>
    <div class="main-header-title-project">
      <%= project.name %>
    </div>
  </div>
  <div class="last-edited-project">
    Last edited 11:47 AM
  </div>
</div>
<div class="hr-divider-keyline"></div>
<div class="white-subheader">
  <div class="content-subheader-project">
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Project Type | <strong style="color:black;"><%= project.category %></strong></div>
    <div class="hr-divider-vertical"></div>
    <div class="title-subheader-project">Agreement | <strong style="color:#449D44;">Revision Date: </strong> Aug 8, 2016 | <a target="_blank" href='/uploads/<%= project.agreementRef %>'> View </a> </div>
    <div class="hr-divider-vertical"></div>
  </div>
  <div class="add-project-button">
    <a href="/edit_project/<%= project.id %>"> <span class="icon icon-circle-with-plus"></span> </a>
  </div>
  <div class="edit-project-title">
    <a href="/edit_project/<%= project.id %>">Edit</a>
  </div>
</div>

<div class="hr-divider-keyline"></div>

<div class="col-sm-12 content">
  <br>
  <div class="col-sm-3 content">
    <div class="subtitle-content-project">
      Email Aliases
      <a href="#configure-email-alias-modal" data-toggle="modal" data-project-id="<%= project.id%>" data-email-alias="Mailing List TEST Name" data-email-alias-id="INSERT_MAILING_LIST_ID" style="margin-left: 5px;">
        <span class="icon icon-cog"></span>
      </a>
    </div>
    <div class="add-edit-member-companies-label"><a href="/aliases/<%= project.id %>">+ Add</a></div>
    <div class="hr-divider-keyline"></div>
    <div class="email-aliases-projects">
      <% if (emailAliases){ %>
        <% emailAliases.forEach(function(emailAlias){ %>
          <div class="col-sm-12 content">
            <span style="color:#373A3C"><%= emailAlias.address %></span> ·
            <% if (emailAlias.participants.length == 1){ %>
            <%= emailAlias.participants.length %> Participant
            <% } else { %>
            <%= emailAlias.participants.length %> Participants
            <% } %>
            <span class="dropdown-toggle" data-toggle="dropdown">
              &nbsp;  &nbsp; <span class="caret"></span>  &nbsp; &nbsp;
            </span>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1">
              <% emailAlias.participants.forEach(function(participant){ %>
                <li role="presentation"><a role="menuitem" tabindex="-1"><%= participant.address %></a></li>
              <% }) %>
            </ul>
            <br>
          </div>
        <% }) %>
      <% } %>
    </div>
    <div class="view-all-member-aliases-label"><a href="/aliases/<%= project.id %>">View All (<%= emailAliases.length %>)</a></div>
    <div class="hr-divider-keyline"></div>
  </div>
  <div class="col-sm-5 content">
    <div class="subtitle-content-project">Project Description</div>
    <div class="hr-divider-keyline"></div>
    <br>
    <%= project.description %>
    <br> <br>
    <strong style="color: #333333;"><%= project.url %></strong>
  </div>
  <div class="col-sm-4 content">
    <div class="subtitle-content-project">Member Companies</div>
    <div class="add-edit-member-companies-label"><a href="/create_member/<%= project.id %>">+ Add</a></div>
    <div class="hr-divider-keyline"></div>
    <br>
    <% if (memberCompanies){ %>
      <% if (memberCompanies.length > 0){ %>
        <% memberCompanies.forEach(function(memberCompany){ %>
          <div class="member-company-project">
            <div class="col-lg-4 content">
              <% if (memberCompany.orgLogoRef){ %>
                <a href="/member/<%= project.id %>/<%= memberCompany.id %>">
                  <img src="/uploads/<%= memberCompany.orgLogoRef %>" alt="" class="member-logo-project"/>
                </a>
              <% } %>
            </div>
            <div class="col-lg-8 content">
              <div class="member-company-name-label"><a href="/member/<%= project.id %>/<%= memberCompany.id %>"><%= memberCompany.orgName %></a></div>
              <div class="member-company-subheader-label">Active · <%= memberCompany.contacts.length %> Contacts | <a href="/member/<%= project.id %>/<%= memberCompany.id %>"><span style="color:#11ABDE">Expand</span></a></div>
            </div>
          </div>
        <% }) %>
      <% } %>
    <% } %>
    <div class="view-all-member-aliases-label"><a href="/members/<%= project.id %>">View All</a></div>
    <div class="hr-divider-keyline"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-sm-12 content mailing-list-project">
    <div class="subtitle-content-project">
      Mailing Lists
    </div>
    <a href="#create-mailing-list-wizard-modal" data-toggle="modal" data-project-id="<%= project.id %>" style="margin-left: 50px;">
      <div class="add-edit-member-companies-label">+ Create New List</div>
    </a>
    <div class="hr-divider-keyline"></div>
    <br>
    <% if (mailingLists){ %>
      <% if (mailingLists.length == 1){ %>
        <%= mailingLists.length %> mailing list
      <% } else { %>
        <%= mailingLists.length %> mailing lists
      <% } %>
    <% } %>
    <div class="view-all-member-aliases-label"><a href="/mailing/<%= project.id %>">View All</a></div>
    <div class="hr-divider-keyline"></div>
  </div>
</div>

<%- include('partials/mailing_list_wizard_modal') %>
<%- include('partials/configure_email_alias_modal') %>

<%- include('partials/footer') %>
